#footer .logos{
    background-color: #e2d0c2;
}

#footer .copy{
    background-color:  #2d252d;
}

#footer .logos img{
    height: 65px;
    width: 120px;
}

#footer .copy p{
    padding-top: 8px;
    padding-bottom: 8px;
    font-size: 12px;
    color: #fff;
}
