.header img{
    width: 100%;
    height: 120px;
    border-radius: 1%;
}

.nav-pills{
    background-color: #2d252d;
}

.nav-pills a{
    color: #fff !important;
}

.nav-pills a:focus{
    background-color: #171317 !important;
}

.nav-pills a:hover{
    color: #aaa !important;
    background-color: #382e38 !important;
}

.nav-pills a:active{
    color: #aaa !important;
    background-color: #382e38 !important;

}

.dropdown-menu{
    background-color: #2d252d;
}

.dropdown-menu > li > a{
    background-color: #2d252d;
    color: #fff;
}
