.header #lang{
    float: right;
    margin-top: 3px;
}

.header #lang img{
    width: 30px;
    height: 22px;
    cursor: pointer;
}

.header img{
    width: 100%;
    height: 120px;
}

.page-header{
    padding: 0;
    margin: 0;
}

.page-header h1{
    color: #555;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 3px;
}

.nav-tabs{
    background-color: #003366;
    box-shadow: inset 1px 1px 5px 0 #666699;
    -webkit-box-shadow: inset 1px 1px 5px 0 #666699;
    -moz-box-shadow: inset 1px 1px 5px 0 #666699;
    -o-box-shadow: inset 1px 1px 5px 0 #666699;
}

.header .dropdown-menu{
    background-color: #003366;
}

.nav-tabs a{
    color: #fff !important;
    font-size: 16px;
}

.nav-tabs a:hover{
    color: #fff !important;
    background-color: #666699 !important;
    box-shadow: inset 2px 2px 10px 0 #999;
    -webkit-box-shadow: inset 2px 2px 10px 0 #999;
    -moz-box-shadow: inset 2px 2px 10px 0 #999;
    -o-box-shadow: inset 2px 2px 10px 0 #999;
    border-bottom: 4px solid;
    border-top:none;
    border-right:none;
    border-left:none;
}

.header .dropdown-toggle{
    background-color: #003366 !important;
}


.header .dropdown-menu {
    background-color: #003366;
}

.header .dropdown-menu a:hover{
    color: #fff !important;
    background-color: #666699 !important;
    box-shadow: inset 2px 2px 10px 0 #999;
    -webkit-box-shadow: inset 2px 2px 10px 0 #999;
    -moz-box-shadow: inset 2px 2px 10px 0 #999;
    -o-box-shadow: inset 2px 2px 10px 0 #999;
    border:none;
}

.navbar-right{
    margin-right: 1%;
}

.header .input-group .form-control{
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}

.header .input-group .input-group-btn .btn-default{
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}
