.header img{
    width: 960px;
    height: 120px;
    border-radius: 1%;
}

.navbar-default{
    padding-top: 0;
    background-color: #2d252d;
}

.navbar-header a , .navbar-nav a{
    color: #fff !important;
}

.navbar-header a:hover , .navbar-nav a:hover{
    color: #aaa !important;
}

.navbar-header a:active , .navbar-nav a:active{
    color: #000 !important;
}

.nav-divider{
    color: #fff !important;
}
