html,body{
    background-color: #f0f0f0;
    height: 100%;
}

#container{
    background-color: #fff;
    width: 1024px;
    margin: auto;
    min-height: 100%;
    height: auto;
    /* Negative indent footer by its height */
    margin: 0 auto -30px;
    /* Pad bottom by footer height */
    padding: 0 0 30px;
}

#headerfile{
    width: auto;
}

#loginfile{
    float: right;
}

#footerfile{
    width: 1024px;
    margin: auto;
}
